<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ "/" | relative_url }}">Currently Reading</a>
      <div class="sidebar-nav-image">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51XLPEBpwxL.jpg" width="35" height="50">
    </div>
      <div class="sidebar-nav-image">
        <img src="https://images-na.ssl-images-amazon.com/images/I/415CrbDNlHL._SX315_BO1,204,203,200_.jpg" width="35" height="50">
    </div>
      <a class="sidebar-nav-item" href="{{ "/" | relative_url }}">Up Next</a> 
      <div class="sidebar-nav-image">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51jmoA-oa6L._SX331_BO1,204,203,200_.jpg" width="35" height="50">
      </div>
<!--      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
